<nav>
    <div class="nav-wrapper navbar-fixed">
        <div class="container">
            <a href="#" class="brand-logo">DASH</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/idea">ideas</a></li>
                <li><a href="/home/about">About Us</a></li>
                <li><a href="/home/service">Our Services</a></li>
                <li><a href="/idea/add">Add Story</a></li>
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>