<h1 class="center">Ideas</h1>

<hr>
<div class="row">
    {{#each ideas}}
    <div class="col s12 m4">
        <div class="card green darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{title}}</span>
                <p>{{idea}}</p>

            </div>
            <div class="card-action yellow">
                <blockquote class="black-text disabled">{{author}}</blockquote>
                {{#if user}}
                {{> _edit}}
                {{/if}}
            </div>
        </div>
    </div>
    {{else}}
    <h2 class="red-text center"> No ideas Available</h2>
    {{/each}}
</div>