<h1 class="center">Login to add Stories</h1>


<div class="row">
    <form class="col s12" action="/user/login" method="POST">
        <div class="row">
            <div class="input-field col s12">

                <input id="icon_telephone" name="username" type="text" class="validate">
                <label for="username">Username</label>
            </div>
            <div class="input-field col s12">

                <input id="icon_prefix" type="password" name="password" class="validate">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s6">
                <input type="submit" class="btn green">
            </div>
        </div>

</div>
</form>

</div>