<h1 class="center">Login to add Stories</h1>
{{#each errors}}
<div class="materialert error">{{text}}</div>
{{/each}}


<div class="row">
    <div class="col-4 mt-8"></div>
    <form style="width: 50%" action="/user/login" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Log in</button>
    </form>

</div>
</div>